 
<div class="d-flex justify-content-end">
  <div class="card text-center teal-lighten-5 my-2" id="<%= dom_id(message)%>">
    <div class="card-body">
      <p class="card-text">
		<%= message.content %>
		<br>
		<small class="text-muted"> <%= message.created_at.to_s(:short) %> </small>
	  </p>
    </div>
  </div>
</div>


  

