<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá <%= @candidate.username %>!</h1>
    <p>
      Boas noticias para você. Foi publicada uma nova vaga relacionada com o teu perfil.
    </p>
    <p>
      Para ver a vaga, apenas clica neste link: <%= link_to "bumbagora.com", @url %>.
    </p>
    <p>Obrigado por fazer juntar-te a nós. Tenha um bom dia!</p>
  </body>
</html>



