<h3>Oportunidades</h3>

<div class="container col-sm-9" id="jobs">
  
    <% @jobs.each do |job| %>
        <%= render job %>
    <% end %>
    <div class="d-flex justify-content-center">
        <%= paginate @jobs, windows:2 %>
    </div>
    
</div>
