<h3>Oportunidades</h3>


<div class="container col-sm-9" id="jobs">
    <%= turbo_frame_tag "job" do %>
        <% if @jobs.any? %>
            <% @jobs.each do |job| %>
                <%= render job %>
            <% end %>
            <div class="d-flex justify-content-center">
                <%= paginate @jobs, windows:2 %>
            </div>
        <% else %>
            <h3> Nenhuma oportunidade encontrada </h3>
        <% end %>
    <% end %>
</div>
