    <div class="lime accent-3 text-center">
      <h5 class="main-description">O teu emprego você encontra só aqui</h5><br>
      <div class="d-inline p-2 "><i class="bi bi-star"></i></div>
      <div class="d-inline p-2 "><i class="bi bi-star"></i></div>
      <div class="d-inline p-2 "><i class="bi bi-star"></i></div>
      <div class="d-inline p-2 "><i class="bi bi-star"></i></div>
      <div class="d-inline p-2 "><i class="bi bi-star"></i></div>
    </div>


<main class="container text-center my-5">
  <div class="row justify-content-center">
    <div class="col-sm-3 ">
    <div class="d-inline p-2 ">
      <i class="bi bi-briefcase-fill i-large"></i><br>
    </div>
    <div class="d-inline p-2">
      <p class="i-description"> Procura o emprego dos teus sonhos apartir de casa </p>
    </div>
    </div>
    <div class="col-sm-3 ">
    <div class="d-inline p-2 ">
      <i class="bi bi-emoji-sunglasses-fill i-large"></i><br>
    </div>
    <div class="d-inline p-2">
       <p class="i-description"> Muda agora a tua vida e a forma de procurar emprego </p>
    </div>
    </div>
    <div class="col-sm-3 ">
    <div class="d-inline p-2 ">
      <i class="bi bi-currency-dollar i-large"></i><br>
    </div>
    <div class="d-inline p-2">
       <p class="i-description"> Sejá recompensado pelo teu esforço </p>
    </div>
    </div>
  </div>
</main>

