
<h3>Candidates for job <%= @candidates.title%> </h3>

<div class="container col-sm-9" id="candidates">
  <% @candidates.users.each do |candidate| %>
      <%= render "users_jobs/candidate", candidate:  candidate%>
  <% end %>
</div>
