<div id="<%= dom_id room %>">
  <p>
    <strong>Candidato:</strong>
    <% candidate = InvitesHelper::User.new(room) %>
    <%= candidate.username %>
  </p>
  <p>
    <strong>Email:</strong> 
    <%= candidate.email %>
  </p>

</div>