<div id="<%= dom_id room %>">

  <div class="row">
    <div class="col-sm-1">
      <%= display_user_image_profile(room.user) %>
    </div>
    <div class="col">
    
      <% candidate = InvitesHelper::User.new(room) %>
      <strong>@<%= candidate.username %></strong> <br>
      <strong><%= candidate.email %></strong> 
      <span class="badge bg-success">Novo convite</span>
    </div>

  </div>
  

</div>