<div class="container col-sm-9 my-2">
  
  <div class="card">
    <div class="card-header">
      <h5 class="card-title text-center">Meus chats</h5>
    </div>

    <div class="card-body" id="rooms">
      <% @rooms.each do |room| %>

        <% if room.invite.present? %>
          <p>
            <%= link_to room, class:"link-light" do %>
              <%= render room %>
            <% end %>
          </p>
          <hr/>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
