<div class="container col-sm-9">
  
  <div class="card">
    <div class="card-header">
      <h5 class="card-title text-center">Meus chats</h5>
    </div>

    <div class="card-body" id="rooms">
      <% @rooms.each do |room| %>
        <%= render room %>
        <p>
          <%= link_to "Show this room", room %>
        </p>
        <hr/>
      <% end %>
    </div>
  </div>

</div>
