<div class="container col-sm-9 my-2">
  
  <div class="card">
    <div class="card-header">
      <% if user_is_admin_or_company?(current_user) %>
      <h5 class="card-title text-center">Meus chats com os candidatos</h5>
      <% else %>
      <h5 class="card-title text-center">Meus chats com as empresas</h5>
      <% end %>
    </div>

    <div class="card-body" id="rooms">
      <% if !@rooms.any? %>
        <h3 class="text-center"> Não existe nenhum convidado!</h3>
      <% else %>
      
        <% @rooms.each do |room| %>
          <% if room.invite.present? %>
            <% if current_user.id == room.user_id %>
              <p>
                <%= render room %>
              </p>
                <hr/>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </div>

</div>
