body {
  min-height: 75rem;
  padding-top: 4.5rem;
  /*** #fafafa grey lighten-5 ***/
  background-color: #fafafa ;
}


.link-success{
  text-decoration: none;
}
/*
turbo-frame{
  display: block;
  border:  1px solid blue;
}
*/

/*********** Menu *********/
.teal-darken-3{
  background-color: #00695c !important;
}

.indigo-lighten-5{
  background-color: #e8eaf6; 
}

.teal-lighten-5{
  background-color: #e0f2f1;
}

.pink-lighten-4{
  background-color: #f8bbd0;
}

.text-success{
  color: #00695c !important;
}

.navbar{
  border-top-style: solid;
  border-color: pink;
}
.image-edit-profile{
  border-radius: 50px;
}

.index-image{
  height: 150px;
  width: 190px;
}
.navbar-toggler-icon{

  width: 35px;
  height: 5px;
  background-color: white !important;
  margin: 6px 0;

}

.nav-link {
  /* #4a148c purple darken-4 */
  color: white ;  

}

.nav-link:hover{
  /* #00897b teal darken-1 */
  background-color: #00897b;
  color: white;
  border-radius: 10px;
}
.main-description{
  font-size: 40px;
}

/******************************/
.card-index-size{
  width: 400px;
}
.bi-check-circle-fill{
  font-size: 20px;
}
/************** Icon *****************/


.i-description-section, 
.i-description{
    /****  #004d40 teal darken-4  ****/
  color: #004d40 ; 
  font-size: 25px;
}


.bi{
  font-size: 20px;
}

.footer-icon{
  font-size: 30px;
}

/***************************/


h3{
  text-align: center;

}

h1, h3, h4, h5, strong, hr, 
.i-large, 
.i-big,
.text-time{
  /****  #004d40 teal darken-4  ****/
  color: #004d40 !important;
}

.btn:hover{
  border-color: none !important;
}
/********** Card *************/

.mr-2{
  margin-right: 20px;
}

.i-large{
  font-size: 100px;
}

.i-big{
  font-size: 200px;
}

.rounded{
  width: 100px;
}


.text-time{
  font-size: 14px;
}

.text-time-deadline{
  font-size: 14px;
  /****  #004d40 teal darken-4  ****/
  color: red ;
}

.card{
  border: none;
  border-radius: 25px;
}

#overflow-chat {
  color: black;
  padding: 15px;
  height: 400px;
  overflow: scroll;
}

.profile-image {
  height: 50px;
  width: 50px;
  background-color: pink;
  border-radius: 50%;
  display: inline-block;
}