body {
  min-height: 75rem;
  padding-top: 4.5rem;
  /*** #fafafa grey lighten-5 ***/
  background-color: #fafafa ;
}
/*
turbo-frame{
  display: block;
  border:  1px solid blue;
}
*/

/*********** Menu *********/
.teal-darken-3{
  background-color: #00695c !important;
}

.indigo-lighten-5{
  background-color: #e8eaf6; 
}

.teal-lighten-5{
  background-color: #e0f2f1;
}


.text-success{
  color: #00695c !important;
}

.navbar{
  border-top-style: solid;
  border-color: pink;
}
.image-edit-profile{
  border-radius: 50px;
}

.index-image{
  height: 150px;
  width: 190px;
}
.navbar-toggler-icon{

  width: 35px;
  height: 5px;
  background-color: white !important;
  margin: 6px 0;

}

.nav-link {
  /* #4a148c purple darken-4 */
  color: white ;  

}

.nav-link:hover{
  /* #00897b teal darken-1 */
  background-color: #00897b;
  color: white;
  border-radius: 10px;
}
.main-description{
  font-size: 40px;
}

/******************************/
.card-index-size{
  width: 400px;
}
.bi-check-circle-fill{
  font-size: 20px;
}
/************** Icon *****************/



.i-description{
    /****  #004d40 teal darken-4  ****/
  color: #004d40 ; 
  font-size: 25px;
}

.i-description-section{
    /****  #004d40 teal darken-4  ****/
  color: #004d40 ; 
  font-size: 25px;
}


.bi{
  font-size: 20px;
}

.footer-icon{
  font-size: 30px;
}

/***************************/


h3{
  /****  #004d40 teal darken-4  ****/
  color: #004d40 ;
  text-align: center;

}

h1, h4, h5{
  /****  #004d40 teal darken-4  ****/
  color: #004d40 ;

}
strong{
  color: #004d40 ;
}

hr{
  color: #004d40 ;
}

/********** Card *************/


/*****************************/
.mr-2{
  margin-right: 20px;
}

.bi-star{
  /******  #ffff00 yellow accent-2  ********/
  color: black;
}

.i-large{
  font-size: 100px;

  /****  #004d40 teal darken-4  ****/
  color: #004d40 !important; 
}

.i-big{
  font-size: 200px;

  /****  #004d40 teal darken-4  ****/
  color: #004d40 !important; 
}

.rounded{
  width: 100px;
}


.text-time{
  font-size: 14px;
  /****  #004d40 teal darken-4  ****/
  color: #004d40 ;
}

.text-time-deadline{
  font-size: 14px;
  /****  #004d40 teal darken-4  ****/
  color: red ;
}

.card{
  border: none;
  border-radius: 25px;
}

#overflow-chat {
  color: black;
  padding: 15px;
  height: 400px;
  overflow: scroll;
}