<footer class="footer mt-auto py-3 bg-light teal-darken-3">
  <p class="text-white text-center"> Conheça o CTO e CIO da empresa.</p>
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/PlusVicente"> 
          <i class="bi-twitter footer-icon"></i> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/Vicente-jpro"> 
          <i class="bi-github footer-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/vicente-sim%C3%A3o-504287160/"> 
          <i class="bi-linkedin text-white footer-icon"></i>
        </a>
      </li>
    </ul>
  </div>
  <p class="text-center text-white">
    ©2022 - Bumbagora | Direitos reservados
  </p>
</footer>