<footer>
  <ul class="nav justify-content-center teal-darken-3">
    <li class="nav-item my-5">
      <a class="nav-link" href="https://twitter.com/PlusVicente"> 
        <i class="bi-twitter footer-icon"></i> 
      </a>
    </li>
    <li class="nav-item my-5">
      <a class="nav-link" href="https://github.com/Vicente-jpro"> 
        <i class="bi-github footer-icon"></i>
      </a>
    </li>
    <li class="nav-item my-5">
     <a class="nav-link" href="https://www.linkedin.com/in/vicente-sim%C3%A3o-504287160/"> 
      <i class="bi-linkedin text-white footer-icon"></i>
     </a>
    </li>
  </ul>
</footer> 