<div class="container my-4">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-3">
         <form action="/jobs/search" method="get" class="form">
            <select class="form-select" aria-label="Default select example" name="category_id">
              <option selected class="text-center">Pesquisar por categorias</option>
              <% Category.all.each do |category|%>
                 <option type="submit" value="<% category.id %>" class="text-center" onClick="document.this.form.submit();">
                    <%=category.name%> 
                 </option>
              <% end %>
            </select>
         </form>
        </div>
        <div class="col text-center d-flex justify-content-left" >
            <form action="/jobs/search" class="d-flex col-sm-9">
                <input class="form-control me-2" type="search" name="job" placeholder="Pesquisar oportunidades por título." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
      

      
</div>