<div class="text-center my-5 teal-lighten-5">
  <div class="container" id="service">
    <h3>Nossos Serviços</h3>
    <div class="row justify-content-center">
      <div class="col-sm-4 ">
        <div class="d-inline p-2 ">
          <i class="bi bi-code-slash i-large"></i><br>
        </div>
        <div class="d-inline p-2">
          <p class="i-description"> Desenvolvemos sistemas, plataformas ou aplicativos para o seu negócio. Contamos com profissionais capacitados.</p>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="d-inline p-2 ">
          <i class="bi bi-gear-fill i-large"></i><br>
        </div>
        <div class="d-inline p-2">
           <p class="i-description"> Realizamos o teu sonho de ser o seu próprio gestor dos teus softwares ou plataforma de negócios para aumentar a tua renda. </p>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="d-inline p-2 ">
          <i class="bi bi-headset i-large"></i><br>
        </div>
        <div class="d-inline p-2">
           <p class="i-description"> Somos uma consultora de desenvolvimento de software que atua especificamente com Ruby on Rails.</p>
        </div>
      </div>
    </div>
  </div>
</div>